body{
  margin-bottom: 55px;
  margin-top: 45px;

}

.title-text p{
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color :#858E96;
    margin-left: 10px;
    padding-top: 10px;
  }