.profilescreen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 55px;
  }

  .user-posts {
    max-width: 100vw;
    background-color: rgb(215, 215, 215);
    padding-top: 10px;
  }