.create-tags {
  display: flex;
  flex-wrap: wrap; /* Prevent wrapping of tags */
  line-height: 16px;
  margin-top: -25px;
  margin-bottom: 10px;
  padding-left: 0;
}

.create-tags .tag {
  padding: 5px 10px; /* Adjust padding */
  border-radius: 20px; /* Rounded corners for tags */
  margin: 0 5px 5px 0; /* Adjust margins */
  font-size: 14px; /* Adjust font size */
  line-height: 16px;
  color: #424B5A; /* Black text color */
  display: flex; /* Align text and dot */
  align-items: center;
  background-color: rgb(203, 237, 229); /* Tag color in rgb */
  white-space: nowrap; /* Prevent tag text from wrapping */
}

.create-tags .tag.special-tag {
  background-color: rgb(203, 237, 229); /* Lighter color for the special tag */
  color: rgb(66, 75, 90, 0.75); /* Darker text color for contrast */
}

.create-tags .tag.special-tag input {
  background-color: transparent; /* Make the input field background transparent */
  border: none; /* Remove the border */
  outline: none; /* Remove the input focus outline */
  color: rgb(66, 75, 90); /* Text color */
  width: 100%; /* Ensure the input takes up the full width */
}

.create-tags .tag.user-defined {
  position: relative;
  background-color: rgb(254, 218, 144)
}

.create-tags .tag.user-defined .delete-tag {
  position: relative;
  cursor: pointer;
  margin-left: 5px;
  color: #ec0b0b;
  font-size: 16px;
  font-weight: bold;
}

.create-tags .tag::before {
  content: '•'; /* Unicode for bullet (•) */
  margin-right: 5px; /* Adjust margin */
  font-size: 45px; /* Adjust bullet size */
  color: rgb(66, 75, 90);
}

.create-tags .tag.special-tag::before {
  content: '+'; /* Unicode for bullet (+) */
  margin-right: 5px; /* Adjust margin */
  font-size: 20px; /* Adjust bullet size */
  color: rgb(66, 75, 90, 75);
  padding-bottom: 5px;
}

.create-tags .tag.selected {
  background-color: rgb(254, 218, 144)/* Your selected tag color */;
}
