footer {
  display: flex;
  justify-content: space-around;
  background-color: #fff; /* Set the background color to white */
  padding-bottom: 10px;
  padding-top: 10px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.footer-logo img {
    color: #424B5A;
    width: 5px;
    height: 5px;
  }

.profile-icon img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.footer-logo:hover{
  box-shadow: 0 ;
}

.filter_button{
  border: none;
  background-color: #fff;
}