/* Image.css */

.post-image img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
  }

 .flag {
  font-size: 26px;
  position: relative;
  bottom: 40px;
  left: 10px;
 }