/* LoginForm.css */
.login-form {
    grid-area: login-form;
    background: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 3; /* Bring the login form to the front */
    margin-bottom: 100px;
  }
  
  input {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    width: 75%;
    padding: 10px;
    margin: 10px 0;
  }
  
  .login-button button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    background-color: rgb(173, 216, 206);
    color: #000000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  .error-message {
    color: red;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    margin-top: 10px;
  }