/* LoginLogo.css */
.login-logo {
    margin-top: 15px;
    grid-area: login-logo;
    padding: 5px;
    border-radius: 10px;
    background-size: contain;
    position: relative;
    z-index: 2; /* Bring the logo to the front */
    max-height: 5vh;
  }
  