.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
}

.popup p {
  margin-bottom: 20px;
}

.popup a {
  text-decoration: none; 
}

.popup button {
  font-size: medium;
  padding: 14px;
  background-color: hsl(218, 21%, 33%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 8px;
}

.popup button:hover {
  background-color: hsl(166, 49%, 86%);
  color: hsl(218, 15%, 31%);
}
