.profile-picture {
    position: absolute;
    top: 63vh;
    left: 15px;
    width: 50px; /* Set the width to 50px */
    height: 50px; /* Set the height to 50px */
    z-index: 2; /* Place it above the big picture */
  }
  
  .profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }