  
  .slide-bar {
    position: absolute;
    display: flex;
    position: absolute;
    background-color: transparent;
    bottom: 10px;
    right: 15px;
  }

  .slide-bar img {
    color: white;
    width: 10px;
    height: 10px;
    }