.tags {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping of tags */
    overflow-x: auto; /* Enable horizontal scrolling for tags */
    line-height: 16px;
    margin-top: -25px;
    margin-bottom: 10px;
  }
  
.tags .tag {
    padding: 5px 10px; /* Adjust padding */
    border-radius: 20px; /* Rounded corners for tags */
    margin: 0px 5px 5px 0; /* Adjust margins */
    font-size: 14px; /* Adjust font size */
    line-height: 16px;
    color: #000; /* Black text color */
    display: flex; /* Align text and dot */
    align-items: center;
    background-color: rgb(173, 216, 206); /* Tag color in rgb */
    white-space: nowrap; /* Prevent tag text from wrapping */
  }
  
  .tags .tag::before {
    content: '•'; /* Unicode for bullet (•) */
    margin-right: 5px; /* Adjust margin */
    font-size: 20px; /* Adjust bullet size */
  }