.top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
.icon-container {
    background-color: rgba(255, 255, 255, 0.75); /* Semi-transparent background for the chevron button */
    border-radius: 9px; /* Rounded corners for the chevron button */
    padding: 5px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center; /* Center horizontally */
    height: 17px; /* Set the height */
    width: 17px; /* Set the width to make it quadratic */
    top: 35px; /* Set the top position as needed */
    left: 15px;
  }
  
.icon img {
    font-size: 14px;
    color: #2D323E;
    vertical-align: middle;
    margin-bottom: 2px;
  }
  
.box {
    background-color: rgba(255, 255, 255, 0.75); /* Semi-transparent background for boxes */
    border-radius: 10px; /* Rounded corners for boxes */
    display: flex;
    position: absolute;
    align-items: center;
    padding: 5px;
    height: 17px; /* Set the height */
    justify-content: center;
    top: 35px; /* Set the top position as needed */
    right: 15px;
  }
  
.box p {
    margin: 0;
    font-weight: 400; /* Regular font weight for text */
    font-size: 12px;
    margin-right: 5px; /* Adjust the margin to add space to the right */
    margin-left: 5px;
    line-height: 14px;
  }
  
.box img {
    width: 25px;
    height: 17px;
    margin-left: 5px;
  }