/* Image.css */

.text {
  margin-top: 15px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #424B5A;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0;
}

.post-image-container {
  position: relative;
}

.post-image {
  width: 100%;
  height: auto; /* Ensure the image scales proportionally */
  border-radius: 10px;
}

